extends layout

block content
  .page-header
    h3 Request Fulfillment
    h4 Use your credit card to fund a small (or large!) part of this basket.
  
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Basket
      .col-sm-8
        h5 Colgate Optic White Toothpaste (5 oz), Starburst Jelly Beans, Monster Zero Ultra (16 oz)
    .form-group
      label(class='col-sm-2 control-label', for='location') Location
      .col-sm-8
        h5 Charlotte
    .form-group
      label(class='col-sm-2 control-label', for='cost') Cost
      .col-sm-8
        h5 $10.37
    .form-group
      label(class='col-sm-2 control-label', for='raised') Raised
      .col-sm-8
        h5 $0.00
    .form-group
      label(class='col-sm-2 control-label', for='progress') Progress
      .col-sm-8
        h5 0%
    .form-group
      .row
        .col-sm-4
          h5 Help fund this basket
          input.form-control(type='text', name='money', id='money', placeholder='$5.00')
          form(method='POST')
    each item in arr
      p !{item._id}
    input(type='hidden', name='_csrf', value=_csrf)
    script(
    src='https://checkout.stripe.com/checkout.js',
    class='stripe-button',
    data-key='pk_test_zcuyz8JcFhVIISmwAJlH3G0j',
    data-image='http://i.imgur.com/CBixK4W.png',
    data-name='CrowdNine Basket',
    data-description='Grocery Basket',
    data-amount=100)