extends layout

block content
  .page-header
    h3 Request Fulfillment
    h4 Use your credit card to fund a small (or large!) part of this basket.
  
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        each basketItem in arr
          h5 !{basketItem.name}
    .form-group
      label(class='col-sm-2 control-label', for='name') Basket
      .col-sm-8
        each basketItem in arr
          each item in basketItem.itemList
            h5 !{item}
    .form-group
      label(class='col-sm-2 control-label', for='location') Location
      .col-sm-8
        each basketItem in arr
          h5 !{basketItem.city}
    .form-group
      label(class='col-sm-2 control-label', for='cost') Cost
      .col-sm-8
        each basketItem in arr
          h5 $!{basketItem.priceTotal}
    .form-group
      label(class='col-sm-2 control-label', for='raised') Raised
      .col-sm-8
        h5 $0.00
    .form-group
      label(class='col-sm-2 control-label', for='progress') Progress
      .col-sm-8
        h5 0%
    input#custom-donation-amount.form-control(type='number', placeholder='5.00', min='0', max='100')
    script(src='https://checkout.stripe.com/checkout.js')
    button#customButton  Help fund this basket
    script.
      var handler = StripeCheckout.configure({
      key: 'pk_test_zcuyz8JcFhVIISmwAJlH3G0j',
      image: 'http://i.imgur.com/CBixK4W.png',
      token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      }
      });
      document.getElementById('customButton').addEventListener('click', function(e) {
      // This line is the only real modification...
      var amount = $("#custom-donation-amount").val() * 100;
      handler.open({
      name: 'CrowdNine',
      description: 'CrowdNine Basket',
      // ... aside from this line where we use the value.
      amount: amount
      });
      e.preventDefault();
      });
