extends layout

block content
  .page-header
    h3 Fund a Request
    h4 Browse basket requests made near you.

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
  .col-lg-6
    ul.list-group
      each item in arr
        li.list-group-item
          a(href='/basket?id=#{item._id}', style='float:left;')
            |!{item.name} - !{item.city}
          a(href='/basket?id=#{item._id}', style='float:right;')
            |$0.00/$!{item.priceTotal}
          hr